/* 
    Created on : Nov 1, 2018, 11:08:45 AM
    Author     : John Urbani & Alex Silence
*/

body {
    background-image: url('../images/ao.gif');
    background-repeat: repeat;
    margin: auto;
    width: 1000px;
}

img {
    max-width: 100%;
}

main {
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #fff;
    padding: 20px;
}

/*h1 {
    margin-top: 2em;
}*/

/* =============== Home =============== */
#index p {
    font-size: 18px;
    padding: 0em 28em 0em 1em;
}

/* =============== Navigation =============== */

nav {
    height: 3em;
    background-color: #555;
    padding: 5px;
    position: fixed;
    width: 1000px;
    margin-left: -5px;
    float: left;
    top: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #777;
}

nav ul li {
    float: left;
    width: 166.66px;
}

nav ul li a:hover {
    background-color: #0069ae
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.activePage {
    background-color: #00498e;
}

/* =============== Contact Form =============== */

fieldset {
    border: 2px solid #00498e;
    clear: both;
    margin-top: 2em;
    padding: 1em;
}

label {
    color: #005cb3;
    display: block;
    font-weight: bold;
    padding-right: 1em;
}

input,
textarea,
select {
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    box-shadow: 2px 2px 4px #EBEBEB;
    border-radius: 3px;
    padding: 1em;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #0C0;
}

input[type=submit] {
    background: #005cb3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #dadada;
    color: #fff;
    width: 100%;
}

.buttons legend {
    display: none;
}

.buttons {
    text-align: center;
}

.form-heading {
    border-bottom: 2px solid #ddd;
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.75em;
    padding-bottom: 0.4em;
}

.text-field {
    width: 100%
}

/* Style errors in form so they're more obvious */
.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

#errors ol li {
    color: #ff5555;
}

.checkbox.mistake legend,
.radio.mistake legend,
.listbox.mistake legend
{
    background-color: #800;
}

/* =============== About the Band Bios =============== */

#about article {
     height:300px;
     border: 3px solid black;
     border-radius: 2em;
     padding: 3%;
     padding-top: 0px;
     margin: 1%;
}

#about p {
    font-size: 18px;
    line-height: 1.5em;
}

#about h2 {
    font-size: 30px;
}

#about main {
    margin-top: 55px;
}

#about img {
    padding: 1px;
    margin: 0em 1em 0em 1em;
    border:1px solid #021a40;
}

/* =============== Footer =============== */

footer {
    height: 3em;
    background-color: #555;
    padding: 5px;
    width: 950px;
    margin-left: 20px;
    float: left;
}

/* =============== Media =============== */

#videos iframe {
    margin-left: 50px;
}

#videos h2 {
    margin: 1em;
}

#videos h2,
#videos h1,
#videos p
{
    text-align: center;
}

#videos h1 {
    font-size: 2em;
}

/* =============== Shows =============== */
#shows h2,
#shows h1,
#shows p
{
    text-align: center;
}

#shows h2 {
    font-size: 2em;
}

#shows article {
     border: 3px solid black;
     border-radius: 2em;
     padding: 3%;
     padding-top: 0px;
     margin: 1%;
}